html {
    background: $blue--light;
    color: $white;
    font-family: $font--primary;
    height: 100vh;
    width: 100vw;
}

body {
    line-height: 1.4;
}

a {
    border-bottom: 1px solid $white;
    color: $white;
    text-decoration: none;

    &:hover {
        border-bottom: 1px solid $yellow;
        color: $yellow;
    }
}

button {
    background: $blue--dark;
    border: 0;
    border-radius: 0.5rem;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $font--primary;
    padding: 0.5rem 1rem;

    &:hover {
        background: $blue--medium;
        cursor: pointer;
    }
}