html {
    background: $blue--light;
    color: $white;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    height: 100vh;
    width: 100vw;
}

a {
    color: $white;
    text-decoration: none;
}