.game {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc( 100vh - 4rem );
    justify-content: center;
    padding: 2rem 3rem;
    position: relative;
    width: calc( 100vw - 6rem );

    &__nav {
        display: none;
        left: 0;
        padding: 2rem 0 0 2rem;
        position: fixed;
        top: 0;
        width: calc( 100% - 2rem );
    }

    &__state {
        display: none;
    }

    form  {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        position: relative;

        label {
            font-size: 12rem;
            margin-bottom: 1rem;
        }

        input {
            border: 0;
            padding: 0.5rem;
            width: calc( 100% - 1rem );
        }

        button {
            margin: 1rem 0;
            padding: 1rem 1.5rem;
            width: 100%;
        }
    }
}

.game[data-active-state=intro] {
    .game__state {
        display: none;
    }

    .game__state.intro {
        display: block;
    }
}

.game[data-active-state=instructions] {
    .game__state {
        display: none;
    }

    .game__state.instructions {
        display: block;
    }

    .game__nav {
        display: block;
    }
}

.game[data-active-state=play] {
    .game__state {
        display: none;
    }

    .game__state.play {
        display: block;
    }

    .game__nav {
        display: block;
    }
}

.game[data-active-state=victory] {
    .game__state {
        display: none;
    }

    .game__state.victory {
        display: block;
    }

    .game__nav {
        display: block;
    }
}

.results {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.result {
    display: inline-block;
    margin: 0 0.15rem;
    padding: 0.15rem 0.25rem 0;
    position: relative;
    text-align: center;

    &[data-success=true] {
        opacity: 0.7;

        &:before {
            border-color: inherit;
            border-top: 3px solid;
            content: '';
            left: 0;
            opacity: 1.0;
            position: absolute;
            right: 0;
            top: 50%;

            -webkit-transform: rotate( -5deg );
            -moz-transform: rotate( -5deg );
            -ms-transform: rotate( -5deg );
            -o-transform: rotate( -5deg );
            transform: rotate( -5deg );
        }
    }
}

.error {
    color: $yellow;
    display: block;
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
}