.lead {
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
}

.instructions {
    margin-bottom: 3rem;

    ol {
        counter-reset: learnnato-instructions;
        list-style: none;
        overflow: hidden;
        padding: 0;
        width: 100%;

        li {
            counter-increment: learnnato-instructions;
            margin: 0 0 1.5rem 0;
            padding: 0 0 0 2rem;
            position: relative;
        }

        li::before {
            background: $color--secondary;
            border-radius: 50%;
            color: $color--paragraph;
            content: counter(learnnato-instructions);
            display: inline-block;
            font-size: 0.8rem;
            margin: 0.35rem 0.5rem 0 -2rem;
            padding: 0.15rem 0.5rem;
            position: absolute;
            text-align: center;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 1em;
        }
    }

    h3 {
        text-align: center;
    }

    h3:nth-of-type(2) {
        margin-top: 3rem;
    }
}

.intro__button {
    margin: 0 0.5rem 0 0;
    padding: 0.75rem 1.5rem;
    width: 100%;
}

/* 600px */
@media screen and ( min-width: 37.5rem ) {

    .instructions {
        ol {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        li {
            padding: 0;
            max-width: 40%;
        }
    }
}

/* 800px */
@media screen and ( min-width: 50rem ) {

    .lead {
        font-size: 1.65rem;
        margin-bottom: 3rem;
    }

    .instructions {
        ol {
            padding-top: 1.85rem;

            li {
                max-width: 22%;
                margin: 0;
                padding: 0;

                &:before {
                    margin-left: 0;
                    margin-top: -1.85rem;
                }
            }
        }
    }

    .intro__buttons {
        font-size: 1.55rem;
        margin-top: 3rem;
        width: 50%;
    }
}
