// Fonts.
$font--primary:  'Rubik', sans-serif;

// New Pallette
$color--background: #fffffe;
$color--button: #6246ea;
$color--button-text: #fffffe;
$color--headline: #2b2c34;
$color--paragraph: #2b2c34;
$color--secondary: #d1d1e9;
$color--tertiary: #e45858;