// Fonts.
$font--primary: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

// Colors.
$yellow: #f7e927;
$red: #ff712c;
$white: #fff;
$blue--light: #493ed1;
$blue--medium: #342b9f;
$blue--dark: #1f196d;
$gray--light: #f3f4f7;
$gray--medium: #e3e4ed;